# ETL Practice Project
**Project Scenario** 
<br>
An international firm that is looking to expand its business in different countries across the world has recruited you. You have been hired as a junior Data Engineer and are tasked with:

1. Creating an automated script that can extract the list of all countries:
- In order of their GDPs in billion USDs
- Rounded to 2 decimal places
- As logged by the International Monetary Fund (IMF). Since IMF releases this evaluation twice a year, this code will be used by the organization to extract the information as it is updated. The required data seems to be available on the URL mentioned here: <a href=https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29>List of countries by GDP (nominal)</a>

2. The required information needs to be made accessible as:
- A CSV file Countries_by_GDP.csv
- A table Countries_by_GDP in a database file World_Economies.db with attributes Country and GDP_USD_billion

3. Your boss wants you to demonstrate the success of this code by:
- Running a query on the database table to display only the entries with more than a 100 billion USD economy
- Log in a file with the entire process of execution named etl_project_log.txt

**You must create a Python code 'etl_project_gdp.py' that performs all the required tasks**


**Project Objectives**
<br>
You have to complete the following tasks for this project:
1. Write a data extraction function to retrieve the relevant information from the required URL.
1. Transform the available GDP information into 'Billion USD' from 'Million USD'
1. Load the transformed information to the required CSV file and as a database file
1. Run the required query on the database
1. Log the progress of the code with appropriate timestamps.

<hr>

**Setup**

In [ ]:
# prep the Terminal
python3.11 -m pip install bs4
python3.11 -m pip install pandas

In [24]:
# import required libraries
import sqlite3
import pandas as pd
import requests
from bs4 import BeautifulSoup
from datetime import datetime

In [25]:
#define empty entities
db_name = 'world_economies.db'
table_name = 'countries_by_gdp'
csv_path = './countries_by_gdp.csv'
log_file = "etl_project_log.txt"

In [26]:
# define source and source structure
url = 'https://web.archive.org/web/20230902185326/https:/en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'
table_attribs = ['Country', 'GDP (Millions, USD)']
column_indices = [0, 2]  # target columns from which data will be extracted

**Testing Extract**

In [ ]:
# parse HTML from url
html_content = requests.get(url).content
data = BeautifulSoup(html_content, 'html.parser') # choose content to also bring in tags
table = data.find_all('table')[2] # get content related to table at index 2
rows = table.find_all('tr') # get all rows
rows = rows[2:] # remove first two header rows
rows

In [ ]:
# filter cells from the specified columns into a list
filtered_cells = []
for row in rows:
    cells = row.find_all('td')
    if len(cells) == 0: #remember to check number of cells in a row - many web tables have invisible merged rows
        continue
    if row.find('a') is None:
        continue
    selected_cells = [cells[i] for i in column_indices if i < len(cells)]
    filtered_cells.append(selected_cells)

In [ ]:
# extract data from filtered cells into a pandas dataframe
df = pd.DataFrame(columns=table_attribs)
for row in filtered_cells:
    data_dict = {table_attribs[0]: row[0].text.strip(), table_attribs[1]: row[1].text.strip()}
    df1 = pd.DataFrame([data_dict], index=[0])
    df = pd.concat([df, df1], ignore_index=True)

In [ ]:
# replace special character in GDP column with 0
df[table_attribs[1]] = df[table_attribs[1]].replace('—', 0)

In [5]:
def extract(url,table_attribs,column_indices):
    # parse HTML from url
    html_content = requests.get(url).content
    data = BeautifulSoup(html_content, 'html.parser') # choose content to also bring in tags
    table = data.find_all('table')[2] # get content related to table at index 2
    rows = table.find_all('tr') # get all rows
    rows = rows[2:] # remove first two header rows

    # filter cells from the specified columns into a list
    filtered_cells = []
    for row in rows:
        cells = row.find_all('td')
        if len(cells) == 0: # remember to check number of cells in a row - many web tables have invisible merged rows
            continue
        if row.find('a') is None: # rows not hyperlinked to a country, namely World, are excluded
            continue
        selected_cells = [cells[i] for i in column_indices if i < len(cells)]
        filtered_cells.append(selected_cells)

    # extract data from filtered cells into a pandas dataframe
    df = pd.DataFrame(columns=table_attribs)
    for row in filtered_cells:
        data_dict = {table_attribs[0]: row[0].text.strip(), table_attribs[1]: row[1].text.strip()}
        df1 = pd.DataFrame([data_dict], index=[0])
        df = pd.concat([df, df1], ignore_index=True)
        
    return df

In [9]:
data = extract(url,table_attribs,column_indices)
data

           Country GDP (Millions, USD)
0    United States          26,854,599
1            China          19,373,586
2            Japan           4,409,738
3          Germany           4,308,854
4            India           3,736,882
..             ...                 ...
208       Anguilla                   —
209       Kiribati                 248
210          Nauru                 151
211     Montserrat                   —
212         Tuvalu                  65

[213 rows x 2 columns]

**Testing Transform**

In [ ]:
# clean string data in GDP column
data['GDP (Millions, USD)'] = data['GDP (Millions, USD)'].str.replace(',', '') # remove commas from string
data['GDP (Millions, USD)'] = data['GDP (Millions, USD)'].replace('—', 0) # convert special character to zero

In [ ]:
# convert millions to billions, rounded to two decimal places
data['GDP (Millions, USD)'] = round(data['GDP (Millions, USD)'].astype(float) / 1000,2) # convert string to float to run arithmetic operations
data.rename(columns={'GDP (Millions, USD)': 'GDP (Billions, USD)'}, inplace=True)  # rename column to reflect new values
print(data)

In [6]:
def transform(df):
    # clean string data in GDP column
    df['GDP (Millions, USD)'] = df['GDP (Millions, USD)'].str.replace(',', '') # remove commas from string
    df['GDP (Millions, USD)'] = df['GDP (Millions, USD)'].replace('—', 0) # convert special character to zero

    # convert millions to billions, rounded to two decimal places
    df['GDP (Millions, USD)'] = round(df['GDP (Millions, USD)'].astype(float) / 1000,2) # convert string to float to run arithmetic operations
    df.rename(columns={'GDP (Millions, USD)': 'GDP (Billions, USD)'}, inplace=True)  # rename column to reflect new values
    return df

In [10]:
transformed_data = transform(data)
transformed_data

           Country  GDP (Billions, USD)
0    United States             26854.60
1            China             19373.59
2            Japan              4409.74
3          Germany              4308.85
4            India              3736.88
..             ...                  ...
208       Anguilla                 0.00
209       Kiribati                 0.25
210          Nauru                 0.15
211     Montserrat                 0.00
212         Tuvalu                 0.06

[213 rows x 2 columns]

**Testing Load**

In [ ]:
# convert transformed data to CSV
file = transformed_data.to_csv(csv_path)

In [7]:
def load_to_csv(df, csv_path):
    file = df.to_csv(csv_path)

In [11]:
load_to_csv(transformed_data, csv_path)

In [24]:
#connect to database
conn = sqlite3.connect(db_name)

#load data to table
transformed_data.to_sql(table_name, conn, if_exists = 'replace', index =False) #check if exists and choose fail, replace, append as appropriate

213

In [8]:
def load_to_db(df, sql_connection, table_name):
    df.to_sql(table_name, sql_connection, if_exists = 'replace', index =False) #check if table exists and choose fail, replace, append as appropriate

In [12]:
load_to_db(transformed_data, conn, table_name)

**Testing Query**

In [ ]:
# query only countries with > 100 billion GDP
query_statement = f"SELECT * FROM {table_name} WHERE `GDP (Billions, USD)` > 100"

# query the database
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

SELECT * FROM countries_by_gdp WHERE `GDP (Billions, USD)` > 100
          Country  GDP (Billions, USD)
0   United States             26854.60
1           China             19373.59
2           Japan              4409.74
3         Germany              4308.85
4           India              3736.88
..            ...                  ...
64          Kenya               118.13
65         Angola               117.88
66           Oman               104.90
67      Guatemala               102.31
68       Bulgaria               100.64

[69 rows x 2 columns]

In [14]:
def run_query(query_statement, sql_connection):
    query_output = pd.read_sql(query_statement, sql_connection)
    print(query_statement)
    print(query_output)

In [15]:
run_query(query_statement, conn)

SELECT * FROM countries_by_gdp WHERE `GDP (Billions, USD)` > 100
          Country  GDP (Billions, USD)
0   United States             26854.60
1           China             19373.59
2           Japan              4409.74
3         Germany              4308.85
4           India              3736.88
..            ...                  ...
64          Kenya               118.13
65         Angola               117.88
66           Oman               104.90
67      Guatemala               102.31
68       Bulgaria               100.64

[69 rows x 2 columns]

**Testing Log Function**

In [17]:
# define a function to log progress

def log_progress(message):
    timestamp_format = '%Y-%h-%D-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second 
    now = datetime.now() # get current timestamp 
    timestamp = now.strftime(timestamp_format) 
    with open(log_file,"a") as f: 
        f.write(timestamp + ',' + message + '\n')

In [18]:
log_progress('ETL process completed successfully')

**Testing Full Code**

In [27]:
# define ETL functions

def log_progress(message):
    timestamp_format = '%Y-%h-%D-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second 
    now = datetime.now() # get current timestamp 
    timestamp = now.strftime(timestamp_format) 
    with open(log_file,"a") as f: 
        f.write(timestamp + ',' + message + '\n')

def extract(url,table_attribs,column_indices):
    # parse HTML from url
    html_content = requests.get(url).content
    data = BeautifulSoup(html_content, 'html.parser') # choose content to also bring in tags
    table = data.find_all('table')[2] # get content related to table at index 2
    rows = table.find_all('tr') # get all rows
    rows = rows[2:] # remove first two header rows

    # filter cells from the specified columns into a list
    filtered_cells = []
    for row in rows:
        cells = row.find_all('td')
        if len(cells) == 0: # remember to check number of cells in a row - many web tables have invisible merged rows
            continue
        if row.find('a') is None: # rows not hyperlinked to a country, namely World, are excluded
            continue
        selected_cells = [cells[i] for i in column_indices if i < len(cells)]
        filtered_cells.append(selected_cells)

    # extract data from filtered cells into a pandas dataframe
    df = pd.DataFrame(columns=table_attribs)
    for row in filtered_cells:
        data_dict = {table_attribs[0]: row[0].text.strip(), table_attribs[1]: row[1].text.strip()}
        df1 = pd.DataFrame([data_dict], index=[0])
        df = pd.concat([df, df1], ignore_index=True)
        
    return df

def transform(df):
    # clean string data in GDP column
    df['GDP (Millions, USD)'] = df['GDP (Millions, USD)'].str.replace(',', '') # remove commas from string
    df['GDP (Millions, USD)'] = df['GDP (Millions, USD)'].replace('—', 0) # convert special character to zero

    # convert millions to billions, rounded to two decimal places
    df['GDP (Millions, USD)'] = round(df['GDP (Millions, USD)'].astype(float) / 1000,2) # convert string to float to run arithmetic operations
    df.rename(columns={'GDP (Millions, USD)': 'GDP (Billions, USD)'}, inplace=True)  # rename column to reflect new values
    return df

def load_to_csv(df, csv_path):
    file = df.to_csv(csv_path)

def load_to_db(df, sql_connection, table_name):
    df.to_sql(table_name, sql_connection, if_exists = 'replace', index =False) #check if table exists and choose fail, replace, append as appropriate

def run_query(query_statement, sql_connection):
    query_output = pd.read_sql(query_statement, sql_connection)
    print(query_statement)
    print(query_output)

In [28]:
# log initiatization of ETL process
log_progress('ETL job started')

# Log the beginning of the Extraction process 
log_progress("Extract phase started") 
data = extract(url,table_attribs,column_indices)
 
# Log the completion of the Extraction process 
log_progress("Extract phase ended") 
 
# Log the beginning of the Transformation process 
log_progress("Transform phase started") 
transformed_data = transform(data) 
print(transformed_data) 
 
# Log the completion of the Transformation process 
log_progress("Transform phase ended") 
 
# Log the beginning of the Loading process 
log_progress("Load phase started") 
load_to_csv(transformed_data, csv_path) 

# open database connection
conn = sqlite3.connect(db_name)
load_to_db(transformed_data, conn, table_name)
 
# Log the completion of the Loading process 
log_progress("Load phase Ended") 
 
# Log the beginning of the Query process
log_progress("Query phase started")
query_statement = f"SELECT * FROM {table_name} WHERE `GDP (Billions, USD)` > 100"
run_query(query_statement, conn)

# log the completion of the Query process
log_progress("Query phase ended")

# close database connection
conn.close()
 
# Log the completion of the ETL process 
log_progress("ETL Job ended")

           Country  GDP (Billions, USD)
0    United States             26854.60
1            China             19373.59
2            Japan              4409.74
3          Germany              4308.85
4            India              3736.88
..             ...                  ...
208       Anguilla                 0.00
209       Kiribati                 0.25
210          Nauru                 0.15
211     Montserrat                 0.00
212         Tuvalu                 0.06

[213 rows x 2 columns]
SELECT * FROM countries_by_gdp WHERE `GDP (Billions, USD)` > 100
          Country  GDP (Billions, USD)
0   United States             26854.60
1           China             19373.59
2           Japan              4409.74
3         Germany              4308.85
4           India              3736.88
..            ...                  ...
64          Kenya               118.13
65         Angola               117.88
66           Oman               104.90
67      Guatemala               102.31
68       Bulgaria               100.64

[69 rows x 2 columns]